<html>
<style>

    html, body {height:100%;}
    html {display:table; width:100%;}
    body {display:table-cell; text-align:center; vertical-align:middle;}
    

</style>
<head><title>Faculty Committee App</title></head>

<body>
    <p>
        <a href="/faculty"> List of all faculty</a>
    </p><br>
    <p>
        <a href="/committees">List of all committees</a>
    </p><br>
    <p>
        <a href="/faculty-committee-all">Participation of faculty members per committee - all years</a>
    </p><br>
    <p>
        <a href="/faculty-committee-last-five">Participation of faculty members per committee - last 5 years</a>
    </p><br>
    <p>
        <a href="/add_faculty"> add faculty member</a>
    </p><br>

</body> 
</html>